<div>
    <h2>Pedidos</h2>
    &nbsp;
</div>

<p>Planificar todos los pedidos a partir de una fecha:</p>
<div class="opciones">
    <form #form="ngForm" class="formPlanificacion">
        <input type="date" [(ngModel)]="fecha" name="fecha" class="form-control" required>
        <button (click)="planificarTodoTardia()" [disabled]="!form.valid" class="btn btn-primary">Planificar</button>
    </form>

    <div class="buscar">
        <input type="text" [(ngModel)]="searchTerm" name="searchTerm" class="form-control" placeholder="Buscar">
        <button type="submit" (click)="buscarPedido()" class="btn btn-primary">Buscar</button>
    </div>
</div>

<ng-template #elseBlock>
    <div class="notFound">
        <p>No se encontraron pedidos... 😔</p>
    </div>
</ng-template>

<div class="table-responsive" *ngIf="resultsPage && resultsPage.totalElements != 0; else elseBlock">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha de Pedido</th>
                <th>Fecha de Entrega</th>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Cliente</th>
                <th>Planificación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of resultsPage.content; index as i">
                <td>{{ i + 1 + resultsPage.number * this.pageSize }}</td>
                <td>{{ formatDate(pedido.fechaPedido) }}</td>
                <td>{{ formatDate(pedido.fechaEntrega) }}</td>
                <td>{{ pedido.cantidad }}</td>
                <td [innerHTML]="highlight(pedido.producto.nombre, searchTerm)"></td>
                <td [innerHTML]="highlight(pedido.cliente.nombre, searchTerm)"></td>
                <td>{{ pedido.estado }}</td>
                <td class="botones-edicion">
                    <a routerLink="/pedidos/{{ pedido.id }}"><i class="fa fa-pencil"></i></a>
                    <a (click)="remove(pedido.id)"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <tfoot>
        <app-pagination [totalPages]="resultsPage.totalPages" [currentPage]="currentPage"
            (pageChangeRequested)="onPageChangeRequested($event)" [number]="resultsPage.number"
            [hidden]="resultsPage.numberOfElements < 1"></app-pagination>
    </tfoot>
</div>